@import "fonts.css";
@import "font-awesome.min.css";

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro';
	background: #F2F2F2;
}

.container {
		max-width: 1560px;
		width: 100%;
    margin: 0 auto;
		position: relative;
}

header {
	width: 100%;
	border-top: 5px solid #4E7AA2;
	color: #ccc;
}

header > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

header div ul {
	list-style: none;
  font-size: 25px;
  padding: 0;
  margin: 0;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header > div > ul > li {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	line-height: 60px;
	font-family: 'SFUIDisplay-Regular';
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}

header > div > ul > li:not(:last-child) {
	padding: 0 70px 0 10px;
}

header > div > ul > li:last-child {
	padding: 0 10px 0 55px;
}

header div ul li:hover {
	color: #F2F2F2;
	background-color: #4E7AA2;
}

header div span {
	line-height: 60px;
	font-size: 22px;
}

header div span i {
	padding: 0 14px;
}

i.closeMenu {
	display: none;
}

i.openMenu {
	display: none;
}

.visibleUl {
  position: absolute;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 180px;
  background: #4e7aa2;
  z-index: 5;
	font-size: 19px;
	color: #444;
}

header > div.container > ul.visibleUl > li {
	padding-left: 10px;
}

ul.visibleUl i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.visibleUl > li ul.invisibleList {
	left: 181px;
	top: 0;
}

ul.invisibleList {
	z-index: 10;
	list-style: none;
	display: none;
	position: absolute;
	top: 61px;
	left: 0;
	width: 100%;
	font-size: 16px;
}

ul.invisibleList li {
	border-bottom: 1px solid #fff;
	padding: 0 5px 0 20px;
	line-height: 30px;
	box-sizing: border-box;
	background-color: #4e7aa2;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.routeInfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 78px;
	font-family: 'SFUIDisplay-Regular';
}

.routeText > p {
	font-size: 36px;
	color: #86A3BD;
	margin: 0;
	padding: 23px 0;
}

.routeText span {
	color: #F5A079;
}

span.underline {
	text-decoration: underline;
	color: #86A3BD;
}

p span.inBrackets {
	font-family: 'SFUIDisplay-Semibold';
	text-decoration: none;
}

.crossChoice {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: 'SFUIDisplay-Light';
}

.crossChoice > div {
	padding: 7px 26px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.crossChoice i {
	font-size: 40px;
}

.crossChoice p {
	font-size: 18px;
	margin: 0;
}

.crossChoice p::-moz-selection {
	background-color: #fdc8cb;
}

.crossChoice p::selection {
	background-color: #fdc8cb;
}

.firstCross {
	color: #86A3BD;
	position: relative;
}

.secondCross {
	color: #F5A079;
	position: relative;
}

/*.secondCross p::before {
	display: block;
	height: 65px;
	content: " ";
	background-color: rgba(245,160,121,.2);
	width: 65px;
	position: absolute;
	top: -7px;
	left: 10px;
	border-radius: 100%;
}*/

.progressLine {
	margin-top: 7px;
	height: 77px;
	background: #f2f2f2;
	border: 1px solid #F2F2F2;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.progressLine > div {
  padding: 0;
  margin: 0 0 0 1px;
  height: 77px;
  box-sizing: border-box;
  background: #C3D2DF;
}

.progressLine > div:nth-child(1) {
	width: 50%;
}

.progressLine > div:not(:first-child)   {
	width: 25%;
}

.blackboard {
	margin-top: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.imgSpace {
	max-width: 960px;
	width: 100%;
	border: 1px solid #BED3E0;
	background-image: url(../img/resurs4.png);
	background-size: cover;
	position: relative;
}

.imgContainer {
  margin: 206px auto 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.answer {
	position: absolute;
	height: 64px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
	cursor: pointer;
}

.answer p {
	font-size: 28px;
	line-height: 64px;
	margin: 0;
	padding: 0 28px 0 14px;
	color: #fff;
	font-family: 'hvd_comic_serif';
}

.answer p::before {
	display: inline-block;
  margin: 0 14px 4px 0;
  height: 8px;
	content: " ";
  text-shadow: none;
  background-color: #386772;
  width: 8px;
  border-radius: 10px;
}

.label1 {
	z-index: 1;
	background-color: #5DB0C6;
	top: 100px;
	left: 23%;
	-webkit-transform: rotate(12deg);
	        transform: rotate(12deg);
}

.label2 {
	z-index: 3;
	background-color: #E64C65;
	top: 100px;
	left: 38%;
	-webkit-transform: rotate(20deg);
	        transform: rotate(20deg);
}

.label3 {
	z-index: 2;
	background-color: #CDA794;
	top: 100px;
	left: 57%;
	-webkit-transform: rotate(-20deg);
	        transform: rotate(-20deg);
}

.imgContainer > div {
	border: 3px solid #7E9BAD;
	outline: 4px solid #4E7AA2;
	margin: 0 31px 20px;
	width: 200px;
  height: 255px;
}

.imgContainer > div img {
	width: 100%;
	height: 100%;
}

.practiceSpace {
	max-width: 590px;
  width: 100%;
	height: 540px;
	border: 1px solid #F3D8CC;
}

.practiceSpace > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: 'SFUIDisplay-Regular';
}

.practiceSpace > ul li:not(:last-child) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin: 3px 0 0 3px;
}

.headPractice > li > * {
	width: 38%;
}

.headPractice > li > *:last-child {
	width: 20%;
}

.practiceSpace > ul > li > * {
	width: 38%;
}

.practiceSpace > ul > li > *:last-child {
	width: 20%;
}

.headPractice > div:not(:last-child) {
	background: #F5A079;
}

.headPractice > div > p {
	color: #F0F0F0;
  font-size: 20px;
  margin: 0;
  padding: 18px 0;
  text-align: center;
}

.userSelection {
	margin: 0 3px;
}

div.status {
	line-height: 60px;
	width: 120px;
	text-align: center;
	font-size: 24px;
}

.practiceSpace > ul li.noActive input {
	font-family: 'SFUIDisplay-Light';
	color: #F3D8CC;
}

.practiceSpace > ul li input {
	margin: 0 3px;
	box-sizing: border-box;
	border: 1px solid #F3D8CC;
	outline-color: #F5A079;
	text-align: center;
	color: #F59365;
	font-size: 20px;
}

.practiceSpace > ul li input::-moz-selection {
	background-color: #fdc8cb;
}

.practiceSpace > ul li input::selection {
	background-color: #fdc8cb;
}

.practiceSpace > ul li input:focus {
	font-family: 'SFUIDisplay-Semibold';
}

.typePractice p .fa-caret-down {
	padding-left: 20px;
}

ul li span {
	line-height: 120px;
	text-align: center;
}

 i.active {
	color: #F59365;
}

li.noActive i {
	color: #F3D8CC;
}

li.addPractice {
	color: #F5A079;
	font-size: 18px;
	margin-top: 22px;
}

li.addPractice i {
	font-size: 40px;
	padding-left: 36%;
}

li.addPractice p {
	font-family: 'SFUIDisplay-Light';
	margin: 0;
	padding-left: 36%;
}

@media (max-width: 1100px) {
	header > div > ul > li:not(:last-child) {
		padding: 0 30px 0 10px;
	}
	header > div > ul > li:last-child {
		padding: 0 10px 0 30px;
	}
}

@media (max-width: 960px) {
	header > div > ul {
		display: none;
	}
	i.openMenu {
		display: inline-block;
	}
	.label1 {
		left: 13%;
	}
	.label2 {
		top: 30px;
	}
	.routeText > p {
		font-size: 28px;
	}
}
